body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5e1db5;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 36px;
}

nav ul {
    background-color: #5e1db5;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #5e1db5;
    font-size: 24px;
}

p {
    font-size: 16px;
}


